<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Employee Report</title>
	<style>
		.download-button {
			background: blue;
			padding: 16px;
			color: white;
			border-radius: 10px;
			text-decoration: dashed;
		}
	</style>
</head>

<body style="display: flex; height: 100vh; justify-content: center; align-items: center;">
	<a href="/download-employee-report" class="download-button" download>Download Report</a>
</body>

</html>